/* global color variables */

:root {
    --dark-bg: #555253;
    --dark-text: #979797;
    --darker-text: #7C7C7D;
    --light-border: #D8D8D8;
    --light-shadow: #B9E1E8;
    --light-border-top: #cdcdcd;
    --light-bg: #FFFFFF;
    --light-bg-transparent: rgba(255, 255, 255, .6);
    --light-text: #FFFFFF;
    --green-ad: #A0BC57;
    --orange-btn: #F6931D;
    --orange-btn-dark: #d77909;
    --red-validate: #D50303;
    --blue-link: #72B9C4;
    --gradient-one: #ECF8FB;
    --gradient-two: #EFEFEF;
    --gradient-trans: transparent;
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url('../images/tile.png');
    z-index: -999;
}

.gradient {
    /* transition: background-position 5s; */
    background-size: 100% 1000%;
    font: 0;
    position: absolute;
    z-index: -9999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, var(--gradient-trans), var(--gradient-one), var(--gradient-two), var(--gradient-trans));
    background-position: center bottom;
    animation: gradient 10s ease-in-out infinite;
}

@keyframes gradient {
    0% {
        background-position: center bottom;
    }
    50% {
        background-position: center top;
    }
    100% {
        background-position: center bottom;
    }
}


/* main container for both cards */

main {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    line-height: 1.4;
    z-index: 99999;
}


/* header  */

.header {
    text-align: center;
    justify-content: center;
    height: 100px;
    min-width: 100%;
    margin: 0 auto;
    z-index: 99999;
}

.header--bg {
    background-color: var(--dark-bg);
    z-index: 99999;
}

.header__img {
    padding-top: 25px;
    z-index: 99999;
}


/* input form card */

.form {
    flex: 0 auto;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    min-width: 600px;
    background-color: var(--light-bg);
    text-align: center;
    box-shadow: 0px 3px 10px 3px var(--light-shadow);
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 99999;
}

.form__header {
    background-color: var(--dark-bg);
    height: 75px;
    margin: 0px 0px 10px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.form__input-wrap {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.form__title {
    padding: 5px;
    margin: 0px;
    color: var(--light-text);
    font-size: 16px;
    max-width: 350px;
    text-align: center;
}

.form__input {
    width: 100%;
}

.form__inline {
    display: inline-block;
    justify-content: space-between;
}

.form__inline-wrap {
    display: flex;
    justify-content: space-between;
}

.form__city {
    width: 70%;
    margin-right: 4px;
    text-align: left;
}

.form__state {
    width: 30%;
    margin-left: 4px;
    text-align: right;
}

.form__text {
    color: var(--dark-bg);
    border: 1px solid var(--light-border);
    border-top: 2px solid var(--light-border-top);
    padding: 8px 8px 8px 16px;
    border-radius: 5px;
    margin: 8px 0px 8px 0px;
    width: 100%;
}

.form__text:hover,
.form__text:focus-visible {
    color: var(--dark-bg);
    border: 1px solid var(--dark-text);
    border-top: 2px solid var(--dark-text);
    outline: none;
}


/* form button */

.form__text::placeholder {
    color: var(--dark-text);
}

.form__btn {
    margin-top: 10px;
}

.form__btn-text {
    color: var(--light-text);
    border-radius: 20px;
    background-color: var(--orange-btn);
    border: 2px solid var(--orange-btn);
    /* border-style: none; */
    font-size: 15px;
    max-width: 290px;
    padding: 8px 50px 8px 50px;
    margin-bottom: 20px;
}

#form__btn-submitted {
    padding: 8px 67px 8px 66px;
    background-color: var(--orange-btn-dark);
    border: 2px solid var(--orange-btn-dark);
}

.form__btn-text:hover,
.form__btn-text:focus-visible {
    background-color: var(--orange-btn-dark);
    outline: none;
    border: 2px solid var(--orange-btn-dark);
}


/* advertisement card */

.ad {
    flex: 0 auto;
    margin-top: 30px;
    z-index: 99999;
}

.ad__border--green {
    border: 2px solid var(--green-ad);
    height: 260px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.ad__headline {
    text-align: center;
    padding: 0 40px 0 40px;
    font-size: 14px;
    font-weight: 600;
    color: var(--dark-bg);
}

.ad__bg {
    background-color: var(--light-bg-transparent);
    height: 210px;
    width: 360px;
    padding: 10px 20px 10px 20px;
    margin: 10px 20px 20px 20px;
}

.ad__title--green {
    color: var(--green-ad);
    font-weight: 600;
    font-size: 13px;
}

.ad__title {
    color: var(--darker-text);
    font-size: 22px;
    padding: 5px 0 10px 0;
}

.ad__copy {
    color: var(--darker-text);
    font-size: 13px;
}

.ad__link {
    text-decoration: none;
    color: var(--blue-link);
    font-weight: 600;
    font-size: 13px;
}


/* global validation classes */

.required-border {
    border-color: var(--red-validate);
    margin-bottom: 1px;
}

.hide {
    display: none;
}


/* mobile styling tweaks */

@media screen and (max-width: 767px) {
    main {
        margin: 20px;
    }
    header {
        width: 100%;
    }
    .form {
        height: 50%;
        width: 87%;
        min-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    .form__header {
        min-height: 127px;
        padding: 0px 10px;
    }
    .form__text {
        font-size: 16px;
        padding: 5px;
    }
    .form__btn-text {
        padding: 8px 40px 8px 40px;
    }
    #form__btn-submitted {
        padding: 8px 56px 8px 56px;
    }
}

@media screen and (max-width: 430px) {
    .ad {
        height: 50%;
        width: 100%;
        min-width: 200px;
    }
    .ad__headline {
        word-wrap: no-wrap;
        padding-left: 10px;
        padding-right: 10px;
    }
    .ad__border--green,
    .ad__bg {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        padding-left: 10px;
        padding-right: 10px;
    }
}